/* * {
    border: 1px solid lightcoral;
} */


body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-control {
    margin: 0 100px;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px;
}

.header-logo {
    font-size: 24px;
    font-weight: bolder;
    margin-right: 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.header-right {
    color: #E5E7EB;
    font-size: 18px;
    margin-left: 20px;
}

.header-main {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.main-left {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin-right: 40px;
    gap: 10px;
}

.hero {
    font-size: 48px;
    font-weight: 800;
}

.hero-subtext {
    font-size: 18px;
}

button {
    flex-shrink: 0;
    background-color: #3882f6;
    width: 100px;
    padding: 5px;
    border-style: none;
    border-radius: 5px;
    color: #f9faf8;
    font-weight: bold;
    min-height: 30px;
}

.header img {
    width: auto;
    height: 200px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.card-section {
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    margin-bottom: 30px;
}

.card-header {
    margin-top: 30px;
    font-size: 38px;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 30px;
}

.container img {
    max-width: 150px;
}

.card-images {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    justify-content: center;
    gap: 50px;
}

.container {
    max-width: 150px;
}

.card-text {
    margin-top: 5px;
    color: rgb(31, 41, 55, .75);
}

.quote-section {
    background-color: #E5E7EB; 
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #1f2937;
}

.quote {
    font-size: 36px;
    font-style: oblique;
    font-weight: 100;
}

.name {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.ad-section {
    display: flex;
    padding: 20px;
    background-color: #3882f6;
    color: #f9faf8;
    margin: 30px 100px;
    border-radius: 10px;
    align-items: center;
}

.ad-left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ad-header {
    font-size: 22px;
    font-weight: bold;
}

.white {
    background-color: transparent;
    border: 2px solid;
    max-height: 30px;
    text-align: center;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    padding: 20px;
}